<div id="content">
  replace me!
</div>

<script type="text/javascript">
// Now I have access to the fingerprinted url in my frontend!
  window.pinkLogoUrl = '<%= image_url('logo-pink.png')  %>'
  window.whiteLogoUrl = '<%= image_url('logo-white.png')  %>'
  window.dropDownButtonUrl = '<%= image_url('drop-down-button.jpg')  %>'
</script>
