 html, body, section, article, h1, h2, p, strong, em, a, select, ul, li, input, textarea, button, img {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

  font-size: 14px;
  font-weight: 300;
  font-family: 'Nunito', sans-serif;

  list-style-type: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-color: #F5F5F5;
}

p {
  text-align: left;
}

a {
  cursor: pointer;
  color: #FE6C70;
}

a:hover {
  text-decoration: underline
}

input, textarea {
  margin: 2px;
  padding: 10px;
  text-align: left;
  border: 1px solid #C4C4C4;
  border-radius:2px;
}

button {
  display: block;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #FF5A5F;
  text-align: center;
  font-size: 16px;
  border-radius:2px;
}

button:hover {
  background-color: #FF8E91;
}

.white-button {
  background: white;
  font-weight: 400;
  font-size: 14px;
  border: 1px solid #C4C4C4;
  color: #484848;
}

.white-button:hover {
  background: white;
  border: 1px solid #7A7A7A;
}

.nav-bar {
  background: white;
  height: 61px;
  border-bottom: 1px solid #DCE0E0;
}

.nav-bar-button {
  float: right;
  display: block;
  height: 13px;
  border-left: 1px solid #DCE0E0;
  text-align: center;
  padding-top: 20.75px;
  padding-bottom: 26.75px;
  cursor: pointer;
}

#login-button {
  width: 77px;
}

#signup-button {
  width: 87px;
}

#user-button {
  width: 107px;
  position: relative;
  padding-top: 16px;
  height: 19.5px;
  color: #484848;
  padding-left: 19px;
  text-align: left;
}

#user-button:hover .user-menu {
  display: block;
}

#user-button img {
  width: 30px;
  height: 30px;
  background: gray;
  vertical-align: -11px;
  margin-left: 10px;
}

.user-menu {
  display: none;
  position: absolute;
  left: -156px;
  top: 61px;
  border-top: 1px solid #DCE0E0;
  text-align: left;
  color: #484848;
}

.user-menu li {
  float: none;
  width: 261px;
  height: 34px;
  background: white;
  border-left: 1px solid #DCE0E0;
  padding-left: 20px;
  padding-top: 20px;
  -webkit-transition: padding-left 0.25s, width 0.25s;
  transition: padding-left 0.25s, width 0.25s;
}

.user-menu li:last-child {
  border-bottom: 1px solid #DCE0E0;
}

.user-menu li:hover {
  width: 251px;
  padding-left: 30px;
}

.sign-up-form {
  display: block;
  width: 450px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  background: white;
  border: solid 1px transparent;
}

.sign-up-form input {
  width: 388px;
}

.sign-up-form select {
  margin: 2px;
  width: 410px;
  height: 36px;
  border: 1px solid #ccc;
}

.sign-up-form button {
  width: 412px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
}

.errors {
  border: 1px solid red;
}

.error-message {
  color: red;
  padding-top: 5px;
  height: 16px;
  text-align: left;
  padding-left: 22px;
}

.admin-nav-bar {
  background: #484848;
  height: 29px;
  color: #B3B3B3;
  padding-top: 11px;
  padding-left: 455px;
}

.admin-nav-bar li {
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}

.on-page {
  color: #EBEBEB;
}

.admin-nav-bar li:hover {
  color: #EBEBEB;
}

.edit-profile {
  position: relative;
  width: 742px;
  margin-left: calc(50% - 371px + 125px); /*half of edit-profile plus half of (width + margin) of View Profile button*/
  color: #6B6C6B;
  text-align: right;
}

.edit-profile header {
  background: #EDEFED;
  height: 16px;
  margin-top: 24px;
  border-top: solid 1px #DCE0E0;
  border-left: solid 1px #DCE0E0;
  border-right: solid 1px #DCE0E0;
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 20px;
  font-size: 16px;
  text-align: left;
  color: #484848
}

.edit-profile form {
  background: white;
  padding: 18px 18px 0 18px;
  border: solid 1px #DCE0E0;
}

.edit-profile form input, textarea {
  width: 500px;
  margin-left: 15px;
  margin-bottom: 22px;
}

.edit-profile form input {
  height: 14px;
}

.edit-profile form textarea {
  vertical-align: -109px;
}

.edit-profile p {
  margin-bottom: 22px;
  margin-left: 180px;
}

.edit-profile img {
  display: inline-block;
  width: 230px;
  height: 230px;
  background: red;
}

.edit-profile-pic-text {
  vertical-align: top;
  display: inline-block;
  width: 455px;
  margin-left: 18px;
  text-align: left;
}

#upload-button-container {
  position: relative;
  background: transparent;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #C4C4C4;
  color: #484848;
  width: 230px;
  margin-top: 20px;
  height: 68px;
  overflow: hidden;
  border-radius: 2px;
}

#upload-button-container:hover {
  border: 1px solid #7A7A7A;
}

#upload-button-container input {
  position: absolute;
  z-index: 100;
  margin: 0;
  border: 0;
  display: block;
  width: 230px;
  height: 68px;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}

#upload-button {
  position: absolute;
  z-index: 0;
  padding: 13px 0;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #484848;
  width: 230px;
  height: 68px;
}

#save-profile-button {
  width: 92px;
  height: 42px;
  margin-top: 22px;
  margin-bottom: 22px;
}

#view-profile-button {
  position: absolute;
  left: -250px;
  top: -22px;
  width: 230px;
  height: 34px;
  margin-top: 22px;
}

.edit-profile img {
  margin-bottom: 16px;
}

.show-profile {
  margin: auto;
  margin-top: 24px;
  width: 996px;
  color: #484848;
  background: #F5F5F5;
}

.show-profile img {
  display: inline-block;
  width: 230px;
  height: 230px;
  background: red;
}

.show-profile article {
  display: inline-block;
  vertical-align: top;
  margin-left: 24px;
  width: 600px;
}

.show-profile header {
  font-size: 42px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 11px;
}

.show-profile a {
  display: inline-block;
  margin-bottom: 44px;
}

.location {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 34px;
}

.filler {
  display: block;
  background: blue;
  height: 500px;
  width: 100%;
}
