/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, section, article, h1, h2, p, strong, em, a {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

  font-size: 12px;
  font-family: arial;
}

h1 {
  font-size: 36px;
}

button {
  margin: 10px;
}

.sign-up-form {
  border: 1px solid black;
  display: block;
  width: 450px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

.sign-up-form input {
  margin: 2px;
  padding: 10px;
  width: 388px;
}

.sign-up-form button {
  background-color: red;
  color: white;
  width: 412px;
  border: none;
}

.errors {
  border: 1px solid red;
}

.error-message {
  color: red;
}
