 html, body, section, article, h1, h2, p, strong, em, a, select {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;

  font-size: 14px;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.nav-bar {
  height: 61.5px;
  // border-bottom: 1px solid #DCE0E0;
}

.nav-bar-button {
  float: right;
  display: block;
  height: 14px;
  border-left: 1px solid #DCE0E0;
  text-align: center;
  padding-top: 23.75px;
  padding-bottom: 23.75px;
  cursor: pointer;
  color: gray;
}

#login-button {
  width: 77px;
}

#signup-button {
  width: 86px;
}

#user-button {
  width: 126px;
}

.sign-up-form {
  border: 1px solid black;
  display: block;
  width: 450px;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

.sign-up-form input {
  margin: 2px;
  padding: 10px;
  width: 388px;
}

.sign-up-form select {
  margin: 2px;
  width: 410px;
  height: 36px;
  border: 1px solid #ccc;
}

.sign-up-form button {
  background-color: #FF5A5F;
  color: white;
  width: 412px;
  border: none;
  margin: 10px;
  height: 50px;
  cursor: pointer;
}

.sign-up-form button:hover {
  background-color: #FF8E91;
}

.errors {
  border: 1px solid red;
}

.error-message {
  color: red;
}

.filler {
  display: block;
  background: blue;
  height: 500px;
  width: 100%;
}
